*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247,246,244);
    height: 10vh;
    gap: 10%;
    /* border: 1px solid black; */
}
.one a{
    color: rgb(84,103,131);
}
.one-one{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    
    
}
.one-two{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    
}
@media(max-width:1000px){
    .one-one{display: none;

    }
    .one-two{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    .one-two a span{
        display: none;
    }
    
}
a{
    text-decoration: none;
}
.one .one-two a button{
    width: 150%;
    height: 130%;
    border-radius: 30px;
    border: 1px solid pink;
}
nav{
    min-width: 100%;
    background-color: rgb(236,232,217);
}
.main-one h1{
    font-size: 400%;
}
.main-one .two{
    /* margin-left: 10%; */
}
.main-one .four img{
    width: 100%;
}
.main-one{
    padding-top: 30px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: rgb(236,232,217);
}
.main-one .three input{
    width: 80%;
    height: 20%;
}
.main-one .three img{
    position: absolute;
    left: 45%;
    margin-top: 20px;
}
@media(max-width:550px){
    .main-one{
        display: grid;
    grid-template-columns: 100%;
    }
    .four{
        margin-top: 50px;
        }
        .three img{
            position: absolute;
            margin-left: 30%;
            
        }
        
    }
    .carousel{
        margin-bottom: 80px;
        text-decoration: underline;
        
    }
    @media(max-width:883px){
        .carousel{
            margin-top: 50px;
        }
    }
    @media(max-width:550px){
        .carousel{
            margin-top: 00px;
        }
    }
    .carousel a{
        color: rgb(28,28,90);
    }
    .carousel-items{
        padding-left: 30%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .main-two .main-twoa{
        display: flex;
        justify-content: space-between;
        padding: 1% 5% 3% 5%;
        width: 100%;
        
        
    }
    .main-two .main-twoa h2{
        color: rgb(56,74,98);
    }
    .main-two .main-twoa a{
        color: rgb(56,74,98);
    }
    .main-page h5{
        color: rgb(64,74,98);
    }
    .main-page{
        width: 98%;
    }
    .main-page a {
        color: rgb(64,74,98);
    }
   
    .main-three{
        display: flex;
        justify-content: space-between;
        padding: 1% 0% 3% 0%;
        width: 100%;
        
        
    }
    .main-three h2 {
        color: rgb(56,74,98);
    }
    .main-three a{
        rgb(56,74,98)
    }
    .main-four{
        margin-top: 100px;
        padding-right: 30%;
        padding-bottom: 70px;
        padding-left: 5%;
    }
    .main-four .main-foura{
        font-size: 20px;
        font-weight: 500;
    }
    .main-four div{
        width: 100%;
    }
    .main-four div img{
        /* border: 1px solid black; */
        width: 140%;
    }
    .card-one{
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        background-color: white;
    }
    .card-two{
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        background-color: white;
    }
    .card-three{
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        background-color: white;
    }
    .main-five{
        background-color: rgb(237,246,253);
        /* margin-left: -5%; */
        /* margin-right: 5%%; */
        width: 100%;
        /* border:1px solid black; */
        width:100%;
        padding: 30px;
        
    }
    .main-six{
        padding: 100px 40px 100px 40px;
    }
    .card-6{
        display: flex;
    }
    .card-7{
        display: flex;
    }
    .card-8{
        display: flex;
    }
    .main-seven .div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 13vh;
    }
    .main-seven .div img{
        width: 80%;
    }
    .main-seven{
        padding: 10% 5% 10% 5%;
        background-color: rgb(247,246,244);
    }
    .main-seven h2{
        margin-bottom: 25px;
    }
    .main-eight{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        background-color: rgb(56,74,98);
        color: white;
        padding: 60px 0px 70px 0px;
    }
    .main-eight a{
        color: white;
    }
    .main-nine{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:  rgb(203,202,200);
        height: 15vh;
    }



































    rgb(56,74,98)
    rgb(203,202,200)


/* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> */
/* <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script> --> */